%button {
    font-family: inherit;
    border-radius: 7px;
    font-size: 2vw;
    text-transform: uppercase;
    padding: 5px 10px;
    margin: 10px;
    background-color: peru;
    color: white;
    // font-weight: 500;
  }