@import "_extends.scss";
@import "_mixins.scss";


$maincolor : #AFD5AB;

body {
    background-color: $maincolor;

    a {
        @extend %button;
        text-decoration: none;
    }
      
    button {
        @extend %button;
        border: none;
    }

    h1 {
        color: red;
        @include responsive("iphone") {
          color: yellow;
        }
        @include responsive("tablet") {
            color: green;
        }
        // @include responsive("iphone-l") {
        //   font-size: 60px;
        // }
    }
}